
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css">
</head>
<div class='navbar navbar-fixed-top'>
  <nav class='navbar-inner header'>
    {{!-- <div class='container'> --}}
      <div class='navbar-brand'>
          {{#link-to "home" class="brand"}}
            LET'S GO <i class="fa fa-cloud" style="text-shadow: 1px 1px white, -1px -1px #666;"></i>
          {{/link-to}}
      </div>
      <ul class='nav pull-right'>
        <li>
          <a class='nav-link'>
            {{#link-to "home"}}
              HOME
             {{/link-to}}

          </a>
        </li>
        <li>
          <a class='nav-link'>
            {{#link-to "saved"}}
              SAVED 
            {{/link-to}}
          </a>
        </li>
        {{!-- <li>
          <a class='nav-link'>
            FAVORITES
          </a>
        </li> --}}
       
      </ul>
    {{!-- </div> --}}
  </nav>
  <br>
</div>


{{outlet}}
