<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    {{#link-to "application" class="navbar-brand"}}
    <h1> Let's Eat </h1>
    {{/link-to}}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        {{#link-to "search" class="nav-link"}}
          <h4> Search </h4>
        {{/link-to}}
        {{!-- <a class="nav-link" href="#">Search <span class="sr-only">(current)</span></a> --}}
      </li>
      <li class="nav-item">
        {{#link-to "saved" class="nav-link"}}
          <h4> Saved </h4>
        {{/link-to}}
      </li>
    </ul>
  </div>
</nav>

<form onsubmit={{action "searchYelp"}}>
  <div class="mt-5 form-group row">

    <div class="col-md-3 col-sm-offset-3">
      {{input type="text"  class="form-control" value=keywords id="search-keywords" placeholder="Surprise me"}}

    </div>
        <div class="col-md-3">

          {{input type="text"  class="form-control" value=location id="search-location" placeholder="Anywhere"}}
    </div>

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-button">Search</button>

  </div>
</form>
{{outlet}}
