

<div class='navbar navbar-fixed-top'>
  <nav class='navbar-inner header'>
    {{!-- <div class='container'> --}}
      <div class='navbar-brand'>
          {{#link-to "application" class="brand"}}
            LET'S GO <i class="fa fa-cloud" style="text-shadow: 1px 1px white, -1px -1px #666;"></i>
          {{/link-to}}
      </div>
      <ul class='nav pull-right'>
        <li>
          <a class='nav-link'>
            {{#link-to "application"}}
              START PLANNING
             {{/link-to}}

          </a>
        </li>
        <li>
          <a class='nav-link'>
            {{#link-to "saved"}}
              SAVED PLANS 
            {{/link-to}}
          </a>
        </li>
        <li>
          <a class='nav-link'>
            FAVORITES
          </a>
        </li>
       
      </ul>
    {{!-- </div> --}}
  </nav>
  <br>
</div>


<div class="container w-100 h-100">
  <h4 class="text-center" > Start planning your next adventure.</h4>
</div>

<form onsubmit={{action "searchYelp"}}>
  <div class="mt-5 form-group row">

    <div class="col-md-3 col-sm-offset-3">
      {{input type="text"  class="form-control" value=keywords id="search-keywords" placeholder="Got an idea?"}}
    </div>
    near
    <div class="col-md-3">
      {{input type="text"  class="form-control" value=location id="search-location" placeholder="Where do you want to go?"}}
    </div>
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" id="search-button">Search</button>

  </div>
</form>
{{outlet}}
