<div class="m-5">
  <div class="col-md-5 mb-2">
        {{#each model as |plan index|}}
            <div class="list-group">
                {{#each plan.locations as |locationResult|}}
                    {{single-location class="location" location=locationResult index=index onclick=(action "selected")}}
                {{/each}}
                <p class="small ml-2">   {{moment-format plan.date "MM/DD/YYYY h:mm a"}} </p>
            </div>
        {{/each}}
    </div>
     <div class="col-md-7 p-1" >
        <div>
        {{g-maps name="my-map" lat=lat lng=lng zoom=zoom markers=markers}}
        </div>
     </div>
</div>
