<div class="container-large">
  <div class="col-md-5 mb-2">
        {{#each model as |plan index|}}
            <div class="list-group">
                {{#each plan.locations as |locationResult|}}
                    {{single-location class="location" location=locationResult index=index onclick=(action "selected")}}
                {{/each}}
                <p class="small ml-2">   {{moment-format plan.date "MM/DD/YYYY h:mm a"}} </p>
            </div>
        {{/each}}
    </div>
     <div class="col-md-7 p-1" >
        <div>
        {{g-maps name="my-map" lat=lat lng=lng zoom=zoom markers=markers}}
        </div>

        <div class="d-flex flex-row-reverse mt-3" id="buttons">
            <div class="m-2">
                <button class="btn btn-warning btn-lg" onclick={{action "delete"}} id="delete-button">Delete</button>
            </div>
            <div id="error-message"></div>

        </div>
     </div>
</div>
