<div class="m-5">
  <div class="col-md-5">
    <div class="list-group">
      {{#each model as |locationResult index|}}
          {{single-location class="location" location=locationResult index=index}}
      {{/each}}
    </div>
  </div>

  <div class="col-md-7 p-1">
    {{g-maps name="my-map" lat=lat lng=lng zoom=zoom markers=markers}}

  </div>
</div>

{{outlet}}